<!-- Toolbar -->
<ul [ngStyle]="{ 'background-color': backgroundColor }">
  <li
    *ngFor="let menu of menus; let i = index; let even = even; let odd = odd"
    [ngClass]="{ even: even, odd: odd }"
  >
    <!-- 对于比较复杂的样式绑定，可以使用 ngStyle 指令 -->
    <!-- ngStyle 接受的是一个字典对象，其 key 是 css 中的样式属性，value 是想要应用的值 -->
    <a
      href="#"
      [ngStyle]="{ color: i === selectedIndex ? titleActiveColor : titleColor }"
      (click)="handleSelection(i)"
    >
      {{ menu.title }}
    </a>
    <span
      class="indicator"
      [ngStyle]="{ 'background-color': indicatorColor }"
      *ngIf="i === selectedIndex"
    ></span>
  </li>
</ul>
<ng-content></ng-content>
